* {
  border: 1px solid pink;
}
body{
  background-color: black;
  margin: 0px;
}

h2,
h3,
h4,
h5,
span,
p{
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}

header{
  height: 69px;
  border-bottom: 1px solid seashell;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  height: 50px;
  margin-right: auto;
  margin-left: 10px;
}

header span {
  margin: 0 10px;
}

header a{
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-decoration: underline;
}
.hero {
  background-image: url("../img-mission-background.jpg");
  width: 1200px;
  height: 700px;
}
